Cargar las bibliotecas necesarias

In [3]:
import pandas as pd
import numpy as np
from datetime import datetime

In [4]:
# Leer archivo de datos
# Convertir la columna CAPE de objeto a número
df = pd.read_csv("df2017CAPE_PW_00Z.csv", header=None, names=['Date', 'CAPE', 'PW'])
df.CAPE=pd.to_numeric(df.CAPE, errors='coerce')
df.head()

         Date  CAPE     PW
0  01 01 2017   0.0   9.42
1  02 01 2017  17.6   9.39
2  03 01 2017   0.0   6.29
3  04 01 2017   0.0  12.83
4  05 01 2017   0.0   9.22

In [5]:
# Convertir la cadena de caracteres 'Date' en variable temporal 'NDate'
import dateutil.parser
df['NDate'] = df['Date'].apply(lambda x : dateutil.parser.parse(x))
df.dtypes

Date             object
CAPE            float64
PW              float64
NDate    datetime64[ns]
dtype: object

In [7]:
# Descripción (Análisis Exploratorio de Datos)
df.describe()

              CAPE          PW
count   308.000000  308.000000
mean     87.561851   15.370032
std     195.608919    9.862108
min       0.000000    2.300000
25%       0.000000    7.670000
50%       0.000000   11.595000
75%      60.070000   22.182500
max    1194.670000   41.110000